{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Say Hello to Bubble, Your Personal Diary!</h1>
    <br>
    <p class="ml-5 mr-4 lead text-center" style="font-size: 45px;">Bubble is an online diary website made using Flask. Bubble is 100% Private and will never share your personal entries to any other person. You can write your bubbles from anywhere in the world and from any device. You have the option of creating , deleting and updating a post. Whatever you plan to do with Bubble, whether it is writing a journal, diary or even a list, it got you covered. Unless you gave someone your password, no one other that you can access your account.</p>


{% endblock content %}